<div class="row" ng-repeat="post in postsCtrl.posts | orderBy: 'created'">
  <div class="col-md-12">
    <div class="article-wrapper">
      <article class="single-post">
        <header>
          <h4>by {{post.author.username}}</h4>
          <em>@ {{post.created | date: "HH:mm dd-MM-yyyy"}}</em>
          <div class="btn-group btn-group-xs" role="group">
            <button class="btn btn-danger" ng-click="postsCtrl.removePost(post._id)"><i class="fa fa-trash"></i></button>
            <button class="btn btn-primary" ng-click="showEdit = !showEdit"><i class="fa fa-edit"></i></button>
          </div>
        </header>
        <form novalidate name="editPostForm" class="edit-post" ng-class="{'hidden': !showEdit}">
          <div class="form-group">
            <label for="post-author{{post._id}}">Choose author</label>
            <select ng-change="postsCtrl.changeAuthor(post)" ng-required="true" class="form-control" name="author" id="post-author{{post._id}}"
                    ng-options="author._id as author.username for author in postsCtrl.authors" ng-model="post.author._id"></select>
          </div>
          <div class="form-group">
            <label for="post-content{{post._id}}">Reply</label>
          <textarea class="form-control" name="post-content" id="post-content{{post._id}}" cols="30" rows="10" ng-keyup="postsCtrl.changeContent(post)" ng-model="post.content"></textarea>
          </div>
          <span ng-show='showSave' class="feedback" ng-class="{'fade-out': saveFadeOut}"><i class="fa fa-floppy-o"></i> Saved...</span>
        </form>
        <p class="text-justify">{{post.content}}</p>
      </article>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="article-wrapper">
      <header>
        <h4>Add reply</h4>
      </header>
      <form novalidate class="create-post" name="postsCtrl.createPost">
        <div class="form-group">
          <label for="post-author">Choose author</label>
          <select class="form-control" name="author" id="post-author" ng-options="author._id as author.username for author in postsCtrl.authors"
                  ng-model="postsCtrl.newPost.author._id"></select>
        </div>
        <div class="form-group">
          <label for="post-content">Reply</label>
          <textarea ng-required="true" class="form-control" name="post-content" id="post-content" cols="30" rows="10" ng-model="postsCtrl.newPost.content"></textarea>
        </div>
        <button class="btn btn-success" ng-disabled="postsCtrl.createPost.$invalid" ng-click="postsCtrl.addPost()">Save</button>
      </form>
    </div>
  </div>
</div>


