<section class="topics-list" ng-controller="LearnApp.topics.topicsListCtrl as topicsCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <header>
          <h2>Topics List</h2>
          <em>in Learn App</em>
        </header>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="text-center well">
        Topics count: {{topicsCtrl.topics.length}}
      </div>
    </div>
    <!--<div class="col-md-6">-->
      <!--<div class="text-center well">-->
        <!--Topics count (on success): {{topicsCount}}-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="topic in topicsCtrl.topics | filter: search"><a ui-sref="topic({_id: topic._id})">{{topic.title}}</a>
          <span ng-show="showDetails" class="topics-details"><small>by {{topic.author.username}} @ {{topic.created|date: "dd-MM-yyyy HH:mm"}}</small></span>
          <button class="btn btn-sm btn-default pull-right" ng-click="showDetails = !showDetails">
            <i ng-class="{'fa-eye-slash': showDetails, 'fa-eye': !showDetails}" class="fa"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="filter-element">
            <input type="text" name="filter-title" ng-model="search.title" class="form-control" placeholder="Search by title...">
          </div>
        </div>
        <div class="col-md-12">
          <div class="filter-element">
            <select class="form-control" name="order-title" ng-model="topicsCtrl.orderTitle" ng-change="doOrderTopics()">
              <option value="">Select order by title</option>
              <option value="asc">Title asc</option>
              <option value="desc">Title desc</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="filter-element">
            <select class="form-control" name="order-created" ng-model="topicsCtrl.orderCreated" ng-change="doOrderTopics()">
              <option value="">Select order by create date</option>
              <option value="asc">Created asc</option>
              <option value="desc">Created desc</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
