<section class="topic">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <header>
          <h2>{{topic.title}}</h2>
          <em>by {{topic.author.username}} @ {{topic.created | date: "HH:mm dd-MM-yyyy"}}</em>
        </header>
      </div>
    </div>
  </div>
  <div ng-controller="LearnApp.posts.postCtrl">
    <div class="row">
      <div class="col-md-8">
        <learn-post ng-repeat="post in posts | orderBy:'created'"></learn-post>
        <div class="row">
          <div class="col-md-12">
            <div class="article-wrapper">
              <header>
                <h4>Add reply</h4>
              </header>
              <form novalidate class="create-post" name="createPost">
                <div class="form-group">
                  <label for="post-author">Choose author</label>
                  <select ng-required="true" class="form-control" name="author" id="post-author" ng-options="author.id as author.username for author in authors"
                          ng-model="newPost.author"></select>
                </div>
                <div class="form-group">
                  <label for="post-content">Reply</label>
                  <textarea ng-required="true" class="form-control" name="post-content" id="post-content" cols="30" rows="10"
                            ng-model="newPost.content"></textarea>
                </div>
                <button class="btn btn-success" ng-disabled="!createPost.$valid" ng-click="savePost()">Save</button>
                <span ng-show='showSave' class="feedback" ng-class="{'fade-out': saveFadeOut}"> Saved...</span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</section>
